{% extends 'base.html' %}
{% block title %}About Page{% endblock %}
{% block content%}
<div class="card" style="width: 40%;margin:0 auto; margin-top:100px;margin-bottom:60px">
    <img style="height:400px" src="{{url_for('static', filename='/assets/img/team/team-2.jpg')}}" class="card-img-top" alt="myn">
    <div class="card-body">
      <h5 class="card-title">ABOUT ME</h5>
      <p class="card-text">Sed mollis, nisl sit amet euismod feugiat, ante felis dapibus ligula, eget facilisis mi nibh at ligula. Nunc egestas ullamcorper sem vel iaculis. Nullam fringilla metus venenatis varius gravida. Vivamus mi eros, rhoncus quis tristique non, tincidunt ut odio. Suspendisse potenti. Praesent vitae adipiscing odio. Pellentesque ultrices enim et ipsum porta vehicula. Vivamus et erat feugiat, viverra elit non, egestas felis.

        Suspendisse potenti. Morbi turpis orci, vulputate a velit vel, aliquam ultrices turpis. Etiam porttitor mollis nisl, at ultricies lorem dignissim nec. Maecenas accumsan elit sed scelerisque vulputate. Donec id pulvinar elit. Sed elementum nunc neque, ut accumsan enim vestibulum id. Etiam scelerisque, ante eget mattis facilisis, tortor eros iaculis sapien, sit amet placerat urna tortor tempus leo.</p>
      
    </div>
  </div>
{%endblock%}